[Desktop Entry]
Name=Text Editor (administrator)
Name[be]=Рэдактар тэкстаў (адміністратара)
Name[bg]=Текстов редактор (администратора)
Name[bs]=Tekst editor (administratora)
Name[ca]=Editor de text (administrador)
Name[cs]=Textový editor (správce)
Name[cy]=Golygydd Testun (gweinyddwr)
Name[da]=Tekstredigering (administrator)
Name[de]=Texteditor (Administrator)
Name[el]=Επεξεργαστής Κειμένου (διαχειριστής)
Name[en_CA]=Text Editor (administrator)
Name[en_GB]=Text Editor (administrator)
Name[es]=Editor de textos (administrador)
Name[et]=Tekstiredaktor (administraator)
Name[eu]=Testu-editorea (administratzaileari)
Name[fa]=ویرایشگر متن سیستم
Name[fi]=Tekstieditori (ylläpitäjältä)
Name[fr]=Éditeur de texte (administrateur)
Name[gl]=Editor de texto (administrador)
Name[hi]=पाठ संपादक (प्रशासक)
Name[hr]=Uređivač teksta (administratora)
Name[hu]=Szövegszerkesztő (adminisztrátornak)
Name[id]=Penyunting Berkas Teks (adminstrator)
Name[it]=Editor di testo (amministratore)
Name[ja]=テキスト・エディタ (管理者)
Name[ko]=텍스트 편집기 (관리자에게)
Name[lt]=Tekstų redaktorius (administratoriaus)
Name[lv]=Teksta Redaktors (administrātoram)
Name[mk]=Уредувач за текст (администратор)
Name[mn]=Текст боловсруулагч (администратор)
Name[mr]=पाठ्य संपादक (प्रशासक)
Name[ms]=Editor Teks (pentadbir)
Name[nb]=Tekstredigering (administrator)
Name[ne]=पाठ संपादक (प्रशासकलाई)
Name[nl]=Tekst-editor (beheerder)
Name[nn]=Tekstredigering (administratoren)
Name[pl]=Edytor tekstu (administratora)
Name[pt]=Editor de Texto (administrador)
Name[pt_BR]=Editor de Texto (administrador)
Name[ro]=Editor de text (administratorul)
Name[ru]=Текстовый редактор (администратора)
Name[rw]=Umuhinduzi w'inyandiko (umuyobozi)
Name[sk]=Textový editor (administrátora)
Name[sl]=Urejevalnik besedil (skrbnika)
Name[sq]=Editues teksti (administratorin)
Name[sr]=Вилењакова бележница (администратора)
Name[sr@Latn]=Vilenjakova beležnica (administratora)
Name[sv]=Textredigerare (administratör)
Name[th]=เครื่องมือแก้ไขข้อความ (ของคุณ)
Name[tr]=Metin Düzenleyici (yöneticinize)
Name[uk]=Текстовий редактор (адміністратора)
Name[vi]=Bộ soạn thảo văn bản (quản trị)
Name[xh]=Umhleli wombhalo (wesixokelelwano)
Name[zh_CN]=文本编辑器 (管理员)
Name[zh_HK]=文字編輯器 (管理員)
Name[zh_TW]=文字編輯器 (管理員)
Comment=Edit text files
Comment[be]=Зьмяніць тэкставыя файлы (адміністратара)
Comment[bg]=Редактиране на текстови файлове (администратора)
Comment[bs]=Izmijeni tekstualne datoteke (administratora)
Comment[ca]=Editeu fitxers de text (administrador)
Comment[cs]=Úprava textových souborů (správce)
Comment[cy]=Golygu ffeiliau testun (gweinyddwr)
Comment[da]=Redigér tekstfiler (administrator)
Comment[de]=Textdateien bearbeiten (Administrator)
Comment[el]=Επεξεργασία αρχείων κειμένου (διαχειριστής)
Comment[en_CA]=Edit text files (administrator)
Comment[en_GB]=Edit text files (administrator)
Comment[es]=Edite archivos de texto (administrador)
Comment[et]=Tekstifailide redigeerimine (administraator)
Comment[eu]=Editatu testu-fitxategiak (administratzaileari)
Comment[fa]=ویرایش پرونده‌های متنی سیستم
Comment[fi]=Muokkaa tekstitiedostoja (ylläpitäjältä)
Comment[fr]=Édite des fichiers texte (administrateur)
Comment[gl]=Editar ficheiros de texto (administrador)
Comment[hi]=पाठ फ़ाइलें संपादित करें (प्रशासक)
Comment[hr]=Uređivanje tekstualne datoteke (administratora)
Comment[hu]=Szövegfájlok szerkesztése (adminisztrátornak)
Comment[id]=Edit berkas teks (adminstrator)
Comment[it]=Modifica file di testo (amministratore)
Comment[ja]=テキスト形式のファイルを編集します (管理者)
Comment[ko]=텍스트 파일을 편집합니다 (관리자에게)
Comment[lt]=Redaguoti tekstinius failus (administratoriaus)
Comment[lv]=Rediģēt teksta failus (administrātoram)
Comment[mk]=Уредувај текстуални датотеки (администратор)
Comment[mn]=Текст файл боловсруулах (администратор)
Comment[mr]=पाठ्य फाइल संपादित करा (प्रशासक)
Comment[ms]=Edit fail teks (pentadbir)
Comment[nb]=Rediger tekstfiler (administrator)
Comment[ne]=पाठ फाइललाई संशोधन गर्नुहोस् (प्रशासकलाई)
Comment[nl]=Tekstbestanden bewerken (beheerder)
Comment[nn]=Rediger tekstfiler (administratoren)
Comment[pl]=Edytor plików tekstowych (administratora)
Comment[pt]=Editar ficheiros de texto (administrador)
Comment[pt_BR]=Edite arquivos de texto (administrador)
Comment[ro]=Editare fişiere text (administratorul)
Comment[ru]=Редактор текстовых файлов (администратора)
Comment[sk]=Úprava textových súborov (administrátora)
Comment[sl]=Urejanje datotek z besedili (skrbnika)
Comment[sq]=Përpuno files teksti (administratorin)
Comment[sr]=Уређивач текстуалних докумената (администратора)
Comment[sr@Latn]=Uređivač tekstualnih dokumenata (administratora)
Comment[sv]=Redigera textfiler (administratör)
Comment[th]=แก้ไขแฟ้มข้อความ (ของคุณ)
Comment[tr]=Metin dosyalarını düzenle (yöneticinize)
Comment[uk]=Редактор текстових файлів (адміністратора)
Comment[vi]=Soạn thảo tập tin văn bản (quản trị)
Comment[xh]=Hlela iifayili zombhalo (wesixokelelwano)
Comment[zh_CN]=编辑文本文件 (管理员)
Comment[zh_HK]=編輯文字檔 (管理員)
Comment[zh_TW]=編輯文字檔 (管理員)
Exec=gedit-root %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.18.0
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit-2/gedit-bugreport.sh
X-Desktop-File-Install-Version=0.12
